:host {
  flex: 0 0 auto;
  min-width: 100%;

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  .toolbar-color {
    background: #1c0f2a;
    display: flex;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:5;
    height: 100px;
  }

  .image-icon {
    width:250px;
  }

  .button-autentification {
    background-color: #D3D3D3;
    border-radius: 25px;
    box-shadow: none;

    .text-anchor {
      color: black;
      border-radius: 25px;
    }
  }
}



